#big {
  position: fixed;
  width: 400px;
  height: 400px;
}
.target {
  color: blue;
  border-radius: 50%;
  border: 1px;
  border-color: black;
  position: absolute;
}
.target:nth-child(1){
  height: 100%;
  width: 100%;
  background-color: red;
  border: black;
  border: 1px;
  left: 0px;
  top: 0px;

}
.target:nth-child(2){
  height: 80%;
  width: 80%;
  background-color: white;
  border: black;
  border: 1px;
  left: 10%;
  top: 10%;

}
.target:nth-child(3){
  height: 60%;
  width: 60%;
  background-color: red;
  border: black;
  border: 1px;
  left: 20%;
  top: 20%;

}
.target:nth-child(4){
  height: 40%;
  width: 40%;
  background-color: white;
  border: black;
  border: 1px;
  left: 30%;
  top: 30%;

}
.target:nth-child(5){
  height: 20%;
  width: 20%;
  background-color: red;
  border: black;
  border: 1px;
  left: 40%;
  top: 40%;

}
